{# option.groupName --- define how many episodes are shown #}

<div class="podlove__podcast-team">
  {% for contributor in podcast.contributors({group: option.groupName}) %}
    {% if contributor.visible %}
      <div class="podlove__contributor">
        {% include '@contributors/avatar.twig' with {'avatar': contributor.avatar, 'size': 200} only %}
        <span class="podlove__contributor-name">{{ contributor.name }}</span>
      </div>
    {% endif %}
  {% endfor %}
</div>

<style>
  .content-area .podlove__podcast-team,
  .podlove__podcast-team {
    padding: 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-width: 70rem !important; /* Sorry but Wordpress */

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .podlove__contributor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }

  .podlove__contributor img {
    max-width: 150px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
  }

  .podlove__contributor-name {
    font-size: 1.5rem;
  }
</style>